<div id="login" ng-hide="auth.user">
    <div class="login-content">
        <h2>SIGN IN</h2>
        <div ng-controller="loginCtrl as login" >
            <div ng-hide="signin == 'NA'">
                <div>
                    <button class="pure-button" ng-click="login.loginWith('twitter')">
                        <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </button>
                    <button class="pure-button" ng-click="login.loginWith('facebook')">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </button>
                    <button class="pure-button" ng-click="login.loginWith('github')">
                        <i class="fa fa-github fa-fw"></i> Login with Github
                    </button>
                </div>
            </div>
            <div ng-show="signin == 'NA'">
                <img src="img/loading.gif">
            </div>
        </div>
    </div>
</div>